*{
    margin: 0px;
    padding: 0px;
}
@font-face {
    font-family: commodore;
    src: url(../fonts/Commodore.ttf);
}
body{
    font-family: commodore;
    color: white;
    background-color: black;
    width: 100%;
    height: 100vh;
    /* min-width: 865px;
    min-height: 600px; */
}

#main{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    /* -webkit-align-content: space-between;
    align-content: space-between;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap; */
    background-color: black;
}

#topInterface{
    width: 100vw;
    min-width: 865px;
    margin: 0px auto;
    display: flex;
    align-items: center; /* align vertical */
    height: calc(50vw * 0.5625);
    min-height: calc(407px * 0.5625);
    margin-bottom: 40px;
    /* justify-content: space-between; */
}

#canvasDiv{
    position: relative;
    width: 50vw;
    min-width: 407px;
    height: calc(50vw * 0.5625);
    min-height: calc(407px * 0.5625);
    /* padding-bottom: calc(33.75% - 60px); */
    box-sizing:border-box;
    margin: 30px 30px;
    margin-bottom: 10px;
    border: 30px solid transparent;
    -webkit-border-image: url(../img/canvasBorder.png) 30 round; /* Safari 3.1-5 */
    -o-border-image: url(../img/canvasBorder.png) 30 round; /* Opera 11-12.1 */
    border-image: url(../img/canvasBorder.png) 30 round;
}

#floor{
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url("../img/floor.png");
    background-repeat: repeat;
    background-size: 200px 50px;
    /* background-color: rgb(128, 128, 128); */
}

#roof{
    position: absolute;
    width: 100%;
    height: 50%;
    background-image: url("../img/roof.png");
    background-repeat: repeat;
    background-size: 200px 100px;
    /* background-color: rgb(96, 96, 96); */
}

#canvasView{
    position: absolute;
}

#mapDiv{
    /* min-width: 407px; */
    min-height: calc(301px * 0.5625);
    width: 40vw;
    min-width: 301px;
    height: 100%;
    margin-top: 60px;
    margin-left: 6vw;
    display: flex;
    flex-direction: column;
}

#playerInfo{
    margin-top: 10px;
}
#emptyMapDiv{
    margin: 0px auto;
    height: 30%;
    width: 15vw;
    min-width: 112px;
    box-sizing:border-box;
    border: 30px solid transparent;
    -webkit-border-image: url(../img/canvasBorder.png) 30 round; /* Safari 3.1-5 */
    -o-border-image: url(../img/canvasBorder.png) 30 round; /* Opera 11-12.1 */
    border-image: url(../img/canvasBorder.png) 30 round;
}

#contentMapDiv{
    margin: 0px auto;
    height: calc(15vw + 28px);
    width: calc(15vw + 58px);
    min-width: 170px;
    min-height: 140px;
    box-sizing:border-box;
    border: 30px solid transparent;
    -webkit-border-image: url(../img/canvasBorder.png) 30 round; /* Safari 3.1-5 */
    -o-border-image: url(../img/canvasBorder.png) 30 round; /* Opera 11-12.1 */
    border-image: url(../img/canvasBorder.png) 30 round;
    border-top: none;
}

#contentMapDiv *{
    position: absolute;
}


#bottomInterface{
    width: 90%;
    min-width: 650px;
    flex: 1;
    max-height: 200px;
    min-height: 130px;
    box-sizing: border-box;
    background-image: url(../img/bottomBackground.png);
    border: 30px solid transparent;
    -webkit-border-image: url(../img/bottomBorder.png) 27 round; /* Safari 3.1-5 */
    -o-border-image: url(../img/bottomBorder.png) 27 round; /* Opera 11-12.1 */
    border-image: url(../img/bottomBorder.png) 27 round;
    border-radius: 15px;
    margin: 0px auto;

    display: flex;
}

#bottomInterface > *{
    margin: 5px;
    height: calc(100%-9px);
    box-sizing: content-box;
    border: 10px solid transparent;
    -webkit-border-image: url(../img/bottomBorder.png) 27 round;
    -o-border-image: url(../img/bottomBorder.png) 27 round;
    border-image: url(../img/bottomBorder.png) 27 round;
}

#keys{
    width: 14%;
    background-color: black;
}

#keys img{
    margin-left: 15%;
    width: 70%;
    height: 65%;
}

#numberKeys{
    width: 100%;
    height: 35%;
    text-align: center;
}
#health{
    width: 28%;
    background-color: black;
}

.hpHandlers{
    width: 100%;
    height: 10%;
}
#hp{
    width: 100%;
    height: 70%;
    font-size: 11vh;
    text-align: center;
}

#face{
    width: 14%;
    background-color: black;
    height: calc(100% + 15px);
    margin-top: -15px;
}

#faceImage{
    width: 80%;
    height: 80%;
    margin: 10%;
}
#gun{
    width: 14%;
    background-color: rgb(0,253,200);
}

#gunImage{
    margin: 5% 30%;
    width: 40%;
    height: 90%;
}

#ammo{
    width: 28%;
    background-color: rgb(1,2,132);
}

#ammo div{
    width: 100%;
    margin-top: 0.3%;
    height: 33%;
}

#ammo div h3{
    width: 50%;
    height: 100%;
    display: inline-block;
    text-align: center;
    transform:translate(0px,-50%);
}

#ammo div img{
    height: 100%;
    width: 40%;
}

#endPrompt{
    left: 0px;
    top: 0px;
    font-size: 10vh;
    text-align: center;
    position: fixed;
    height: 100vh;
    width: 100vw;
    background-color: black;
    color: white;
}
