*{
    margin: 0px;
    padding: 0px;
}
body{
    font-family: "Lato";
    min-width: 737px;
}

#main{
    width: 100%;
    height: 100vh;
    display: flex;
}

#config{
    width: 15%;
    min-width: 110px;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

#submit{
    margin: 0px auto;
    height: 40px;
    width: 80%;
}

#buttonDiv{
    width: 90%;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    border: 3px solid black;
    border-radius: 5px;
}

#buttonDiv button{
    width: 90%;
    height: 40px;
    margin: 10px auto;
}


#config label{
    text-align: center;
    width: 90%;
    height: 10%;
    min-height: 60px;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    border: 3px solid black;
    border-radius: 5px;
}

#config label input{
    width: calc(90% - 10px);
}

#config label *{
    margin: 10px;
}


#preview{
    width: 65%;
    height: 100vh;
}

#previewDiv{
    border: 1px solid black;
    margin: 10px auto;
    width: 95%;
    height: 80%;
    position: relative;
    overflow: scroll;
}

#jsonPreview{
    flex: 1;
}

#generatedJson{
    background-color: white;
    color: black;
    margin: 10px auto;
    width: 95%;
    height: 80%;
    overflow: scroll;
}

#generate{
    float: right;
    margin-right: 10px;
}

#jsonPreview button{
    padding: 5px;
    height: 30px;
}

.square{
    position: absolute;
    width: 32px;
    height: 32px;
    box-sizing: border-box;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.square img{
    width: 22px;
    height: 22px;
}
